@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&display=swap');

h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem
}

* {
  font-family: 'Lato', sans-serif;
}

a {
  color: inherit;
}

body {
  height: 100%;
  margin: 0;
  padding: 0 10px;
}

html {
  height: 100%;
  background: rgb(94,172,255);
  background: linear-gradient(135deg, rgba(94,172,255,1) 0%, rgba(123,236,255,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #222;
}

.card {
  padding: 20px 50px;
  border-radius: 10px;
  background: #f3f3f3;
  max-width: 640px;
  margin: auto;
  position: relative;
  top: 40px;
  box-shadow: 0 7px 18px 0 rgba(0, 0, 0, 0.14);
}


p {
  line-height: 1.4;
}

form input{
  height: 30px;
  padding: 5px 15px;
  font-size: 18px;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 4px;
}

input[type=submit] {
  background: #f6ce41;
  height: 40px;
  border: none;
}

input[type=submit]:hover {
  background-color: #fac302;
}

img {
  max-width: 450px;
}

.example-email {
  background: white;
  transform: rotate(1deg);
  margin-top: 30px;
  margin-bottom: -60px;
  padding: 40px 60px;
  box-shadow: 0 7px 18px 0 rgba(0, 0, 0, 0.14);
}

.email-footer {
  text-align: center;
}

.flex {
  display: flex;
  font-size: 14px;
  color: #666;
  margin-bottom: 25px;
}
.circle {
  width: 30px;
  min-width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #f6ce41;
  margin-right: 8px;
  margin-left: -38px;
}
.right {
  flex-grow: 1;
}
.right div{
  text-align: right;
}

small {
  color: #666;
}

@media screen and (max-width: 460px) {
  .card{
    padding: 20px 20px;
  }
  .example-email {
    padding: 30px;
  }
  .circle {
    display: none;
  }
}

footer {
  width: 100%;
  text-align: center;
  margin-top: 90px;
  padding: 15px 0;
  color: rgb(27, 63, 128);
}
